
mat-grid-tile {
    background: lightcoral;
  }
  .radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .radio-button {
    margin: 5px;
  }
  .sc{
    text-align: right

  }
  